{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is who I am.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there, I'm Joseph Paintsil, but you can call me Joey. Here's a quick peek into who I am:
          I'm a young, ambitious guy fueled by the desire to succeed. I believe that even though the journey of a thousand mile begins with a
          single step, it also ends with a single step. As such, I take each day one step at a time
          knowing that one day,with God by my side, I will finally step into greatness.

        </p>
        <p>
          I developed this personal blog website with flask ( a python back-end framework). It was an
          exciting learning adventure.Feel free to leave comments under any of my blog posts. You can also use
          the contact page to message me or send suggestions on how I can make the blog better. . Thank you
          for having a look at my website.Thank You, Obrigado, Gracias, Danke!🔥🚀

        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
